.contact-container{
    color: #cccccc;
}
.head > h3, .head > p {
    text-align: center;
}
.contact-line{
    flex-grow: 1;
    border-radius: 1em;
    display: inline-block;
    max-width: 250px;
    margin: 0 .3em;
    background-color: #cccccc;
}
.contact-icon{
    color: #32dbc6;
}

