{% extends 'base.html' %}
{% load static %}

{% block image_head %}
<div>
    <img class="img-fluid " src="{% static 'images/hero_1.jpg' %}" alt="Hero pics">
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-between my-5">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img" src="{% static 'images/Optimized-IMG_20190618_135907_7.02ded70abb11.jpg' %}" alt="Jokotoye Ademola">
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <p class="lead">Hi there! My name is <a href="https://twitter.com/AkinJokotoye">@AkinJokotoye</a> and am a backend engineer from Nigeria, aspiring full stack engineer.
                        I have experience building server-side webapps on Django and Django REST Framework. Obsessed for impact.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 text-white">
        <h1 class="project">Live Projects</h1>
    </div>
    <main class="row mb-5">
        {% for project in project_list %}
        <div class="col-md-4 mb-3">
            <div class="card" >
                <img height="350px" class="card-img-top" src="{{ project.image.url }}" alt="{{ project.title }}">
                <div class="card-body">
                    <h5 class="card-title ">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description|truncatewords:11 }}</p>
                    <a class="btn" style="background-color: #32dbc6;" href="{% url 'project_detail' project.slug %}">Read more</a>
                    <a class="btn" target="_blank" style="background-color: #32dbc6;" href="{{ project.source }}">source</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
</div>
{% endblock %}

