a{
    color: #32dbc6;
}

.head{
    color: #32dbc6;
}

nav li:hover{
    background-color: rgba(255, 255, 255, 0.212);
    color: #32dbc6;
    border-radius: 0.2rem;
}

nav a.nav-brand-hover:hover{
    background-color: rgba(255, 255, 255, 0.212);
    color: #32dbc6;
    border-radius: 0.2rem;
}

.project{
    color: #32dbc6;
    border-bottom: 4px double #32dbc6;
    display: inline-block;
    margin-bottom: 20px;
}
.nav-color{
    color: #32dbc6;
}
.my-address{
    padding: 1rem 3rem;
    background-color: #32dbc6;
}

.flex-head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.color{
    color: #32dbc6!important;
}
.color-bgn{
    color: #32dbc6!important;
}
.img{
    background-color: aliceblue;
    background-image: url(../images/hero_1.jpg);
    background-position: center;
    background-size: cover;
    padding: 15%;
    font-weight: bolder;
}
.img-text{
    position: absolute;
    left: 50%;
    font-weight: bolder;
}