*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body{
    background: linear-gradient(to bottom, #111020, #143637);
}
header{
    /* font-size: 1.6rem; */
    background: #111020;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border: 1p solid red;
}
.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
.nav{
    background: #111020 url("../images/hero_1.aedd873da8bd.jpg") center no-repeat;
    background-size: cover;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    /* padding-top: 1rem; */
}
.menu-toggler{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 90%;
}
.fa-times{
    display: none;
}
.nav-list{
    list-style: none;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
    background: #111020;
    color: #ddd;
    transform: translateY(-100%);
}
a{
    color: #32dbc6;
}
img{
    width: 100%;
    max-width: 100%;
}

nav li:hover{
    background-color: rgba(255, 255, 255, 0.212);
    color: #32dbc6;
    border-radius: 0.2rem;
}

nav a.nav-brand-hover:hover{
    background-color: rgba(255, 255, 255, 0.212);
    color: #32dbc6;
    border-radius: 0.2rem;
}

.project{
    color: #32dbc6;
    border-bottom: 4px double #32dbc6;
    display: inline-block;
    margin-bottom: 20px;
}
.nav-color{
    color: #32dbc6;
}
.my-address{
    padding: 1rem 3rem;
    background-color: #32dbc6;
}

.flex-head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.color{
    color: #32dbc6!important;
}
.color-bgn{
    color: #32dbc6!important;
}


@media screen and (min-width: 730px){
    header{
        /* height: 400px; */
    }
}